.form{
  display: flex;

  & > .wrap{
    flex-grow : 1;
    padding : 4px;
  }
  & input{
    display: flex;
    align-items: center;
    word-break: break-all;
    height : 30px;
    font-size: 0.75rem;
    box-sizing: border-box;
    display: block;
    width : 100%; 
    border-radius: 8px;
    outline: none;
    padding : 8px 8px;
    border: 1px solid rgb(170, 155, 155)
  }
} 